p-toolbar {
  .toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &:nth-child(2) {
      border-bottom: 1px solid #80808050;
    }

    a {
      text-decoration: none;
      margin: 0 0.3rem;
    }

    .p-toolbar-group-start {
      display: flex;
      align-items: center;

      .logo-image {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 50%;
      }

      .blog-title {
        display: flex;
        align-items: center;
        cursor: pointer;

        h1 {
          font-size: 1.3rem;
          font-weight: 400;
          margin: 0;
        }
      }

      .social {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0.8rem 0 0.5rem;

        a {

          i {
            font-size: 1.1rem;
          }
        }
      }
    }

    .p-toolbar-group-end {
      .controls {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .follow {
        padding-bottom: 0.7rem;
      }
    }

    .series {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.7rem 0;

      a {
        font-size: 1.1rem;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 600px) {
  p-toolbar {
    padding: 0;

    .toolbar-row {
      &.first {
        .p-toolbar-group-start {
          .logo-image {
            width: 2rem;
            height: 2rem;
          }

          .blog-title {
            margin: 0;
            h1 {
              font-size: 1rem;
            }
          }
        }
        .p-toolbar-group-end {
          justify-content: flex-end;
          width: 40%;
          .controls {
            transform: scale(0.8);
          }
        }
      }

      &.second {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .p-toolbar-group-start {
          .social {
            margin: 0 0 1rem;
          }
        }
      }

      &.third {
        // will have to be adjusted to a dropdown
        // to handle cases where there are more than 3 series
        .series {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
