<div class="post-details-page">
  @if (post$ | async; as post) {
    <article>
      <h1 class="title">{{ post.title }}</h1>
      <img class="cover-image" [src]="post.coverImage.url" alt="Cover image for {{ post.title }}">
      <div class="post-details">
        <div class="author-info">
          @if (isTeam) {
            <p-avatarGroup styleClass="mb-3" >
               <p-avatar [image]="post.author.profilePicture" size="large" shape="circle" title="{{ post.author.name}}"></p-avatar>
               @for (coAuthor of post.coAuthors; track coAuthor.username) {
                 <p-avatar [image]="coAuthor.profilePicture" size="large"  shape="circle" title="{{ coAuthor.username}}"></p-avatar>
                }
            </p-avatarGroup>
          } @else {
             <img class="author-image" [src]="post.author.profilePicture" alt="{{ post.author.name}}">
            }
          <div class="author-text">
            <span class="author-name">{{post.author.name}} {{isTeam && post.coAuthors.length > 0 ? 'with ' +post.coAuthors.length + ' co-author' + (post.coAuthors.length > 1 ? 's' : '') : ''}}</span>
            <div class="post-meta">
              <p-tag value="{{post.publishedAt | date: 'MMM dd, yyyy' }}"><i
                  class="tag-icon pi pi-calendar"></i></p-tag>
              <p-tag value="{{post.readTimeInMinutes}} min read"><i class="tag-icon pi pi-book"></i></p-tag>
            </div>
          </div>
        </div>
      </div>
      <div class="content" [innerHTML]="post.content.html | sanitizerHtml" youtubeVideoEmbed></div>
    </article>
  }
</div>
