<div class="series-view"  infiniteScroll [isActiveInfiniteScroll]="isActiveInfiniteScroll"
     (scrolled)="loadMorePostsFromSeries()">
  <div class="cards-wrapper grid">
    @for (post of postsInSeries; track post) {
      <a [routerLink]="['/post', post.slug]">
        <p-card class="post-card" header="{{ post.title }}">
          <ng-template pTemplate="header">
            <img class="card-image" [src]="post.coverImage.url" [alt]="post.title + ' image'" />
          </ng-template>
        </p-card>
      </a>
    }
  </div>

  @if (paginationInfo.hasNextPage && !isHiddenLoadMore) {
    <div class="load-more-posts">
      <p-button (click)="loadMorePostsFromSeries()">Load more</p-button>
    </div>
  }
</div>
