p-dialog {

  .dialog-content,
  .dialog-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      margin: 0;
    }

    p-button {
      margin: 1.5rem 0;
    }

    p {
      font-size:  1rem;
      text-align: center;
      margin: 0.7rem 0;
    }

    small {
      text-align: center;
    }

    input {
      margin : 1rem 0;
    }
  }
}

