<p-button class="transparent-button search-button" icon="pi pi-cog" [rounded]="true" [text]="true" [raised]="true"
  (click)="showDialog()"></p-button>

<p-dialog [(visible)]="visible" [style]="{width: '27vw'}">
  @if (blogURLChanged) {
    <div class="dialog-content">
      <p>Blog URL was changed</p>
      <p>You are seeing blog posts</p>
      <p>from the following blog:</p>
      <h3>{{blogURL}}</h3>
      <div class="dialog-actions">
        <p-button label="Reset" (click)="resetBlogURL()" class="p-button-secondary"></p-button>
      </div>
    </div>
    } @else {
    <div class="dialog-content">
      <h3>Try with your Blog</h3>
      <p>try AnguHashBlog</p>
      <small>with another Hashnode blog </small>
      <span class="p-input-icon-right">
        @if (newBlogInput) {
          <i class="pi pi-times" (click)="newBlogInput=''"></i>
        }
        <input type="text" pInputText placeholder="Type a Blog URL" [(ngModel)]="newBlogInput" />
     </span>
    </div>
    <div class="dialog-actions">
      <div class="dialog-actions">
        <p-button label="Change" (click)="changeBlogURL(); newBlogInput=''" class="p-button-secondary"></p-button>
      </div>
    </div>
    }
</p-dialog>
