/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

a {
  color: inherit;
  text-decoration: none;
}

.post-card {
  width: 23vw;
  margin: 1rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .p-card {
    height: 100%;
    width: 100%;
  }

  .p-card-title {
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
    min-height: 3.5rem;
  }

  .p-card-content {
    display: none;
  }
}

.card-image {
  width: 100%;
  height: 12rem;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  object-fit: cover;
}

article {
  .content {
    p {
      img {
        width: 100%;
        margin: 0 auto;
      }
    }

    pre {
      line-height: 2.2rem;
      padding: 1rem 1.5rem 1rem;
      border-radius: 0.3rem;
      position: relative;

      .hljs-keyword {
        color: #f92672;
      }

      .hljs-built_in {
        color: #e6db74;
      }
    }
  }
}

@media (max-width: 600px) {
  .p-toolbar {
    padding: 0.3rem 0 0.3rem 0.5rem;
  }

  app-sidenav {
    .p-button {
      width: 2rem;
      height: 2rem;
    }
  }

  .post-details-page {
    article {
      .content {
        p {
          font-size: 1.1rem;
          line-height: 1.5rem;;
        }
        pre {
          overflow-y: scroll;
        }
      }
    }
  }

  .p-card-title {
    min-width: 75vw;
  }

  // !important statement shall only be used if there are no alternatives, like in this case for overwriting very persistent styles set by PrimeNG

  app-follow-dialog {
    .p-dialog {
      width: 85vw !important;
    }
  }

  // negative margin shall also only be used if there are no alternatives, like in this case for centering the dialog
  app-search-dialog {
    .p-dialog {
      min-width: 100vw !important;
      max-height: 1000% !important;
      margin-top: 30vh !important;
      margin-left: -14rem;
    }
  }

  app-settings-dialog {
    .p-dialog {
      min-width: 100vw !important;
      max-height: 1000% !important;
      margin-top: 110vh !important;
      margin-left: -14rem;
    }
  }
}
